<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Saved Articles</a>
                <button type="button" class="btn btn-secondary" id="scrape-btn">
                    Scrape Recent Articles
                </button>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col">

        </div>

    </div>
    <div class="row">
        <h2>Saved Articles</h2>
        <div class="col" id="art-box">
            <p>bleh</p>
            {{#each article}}
            {{#if saved}}
            <p>Title : {{title}}</p>
            <p>Link: {{link}}</p>
            <button type="button" class="btn btn-primary" id="save-btn" ident={{ident}}>Unsave</button>
        


            {{/if}}
            {{/each}}

        </div>
    </div>
    <div class="row">
        <div class="col">



        </div>

    </div>
</div>