@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body{
    
    scroll-behavior: smooth;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}



.art-block{
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 0;
    float:left;
    margin: 0.8em;
    opacity: 0;
    animation: fadeIn 0.6s ease-out 0.2s  forwards;
    transition: all 0.2s ease;
}

.art-block .modal-z{
    opacity: 1;
    z-index: 100;
    text-decoration: underline;
    animation: none;
    

}



.art-block:hover{
    
    transform: scale(1.1);
}



.art-block a{
    text-decoration: none; 
}

.card-title{
    color: rgb(216, 216, 216);
    text-decoration: none;
}



.container-fluid{
    width:100%;
    margin:0;
}



.navbar{
    margin: 0;
    
}
.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    position: relative;
    color:white;
    left: 40%;
    opacity: 0;
    animation: titleFade 0.6s ease-out forwards;

}
.title-box{
    text-align: center;
}




@keyframes titleFade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeIn {
   from{
    bottom: 0;
    opacity: 0;
    height:0%;
   }
   to{
    bottom:0;
    opacity: 1;
    height:490px;
   }
}

