@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body{
    margin:0;
    width:100%;
    scroll-behavior: smooth;
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}

a, h1,h2,h3,h4,h5,h6, p{
    text-decoration: none;
}

.art-block{
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 0;
    float:left;
    margin: 0.8em;
    opacity: 0;
    animation: fadeIn 0.6s ease-out 0.2s  forwards;
    transition: all 0.2s ease-in;

  
    
}

.art-block:hover{
    
    transform: scale(1.1);
}

.art-block a{
    text-decoration: none;
    
}

.card-title{
    color: rgb(216, 216, 216);
    text-decoration: none;
}



.container-fluid{
    width:100%;
    margin:0;
}

.navbar{
    margin: 0;
    
}
.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    position: relative;
    color:white;
    left: 40%;
    opacity: 0;
    animation: fadeIn 0.6s ease-out forwards;

}
.title-box{
    text-align: center;
}

.wide{
    width:100%;
}

@keyframes fadeIn {
   from{
    bottom: 0;
    opacity: 0;
    height:0%;
   }
   to{
       bottom:0;
    opacity: 1;
    height:10%;
   }
}

